{% extends 'base.html.twig' %}

{% block title %}Two-Factor Authentication{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="2fa-container">
            <h1 class="text-center">Two-Factor Authentication</h1>

            <p class="text-center">Please enter the authentication code sent to your email.</p>

            {# Display any error messages #}
            {% if authenticationError %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# Form Start #}
            <form method="post">
                <div class="mb-3">
                    <label for="2fa_code" class="form-label">Authentication Code</label>
                    <input type="text" id="2fa_code" name="_auth_code" class="form-control" required autofocus>
                </div>

                <button type="submit" class="btn btn-primary w-100">Verify</button>

                {# Add a hidden field to pass the CSRF token #}
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </form>
            {# Form End #}
        </div>
    </div>
{% endblock %}
