body {
    background-color: #f8f5e8;
    font-family: 'Lumos', serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Ensure the dropdown-menu is positioned correctly */
.dropdown-menu {
    margin-top: 0; /* Adjust the position if needed */
}