{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Your order n°{{ order.reference }} has been successfully registered !</h1>
{% endblock %}